/*Contenedor general*/
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.main{
    background-image: linear-gradient(315deg,#B5B9CC  0%, #31385A 74%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
}
span{
    font-size: 1.5rem;
}

/*imagen-cloud*/
.about-image{
    width: 100%;
    align-content: center;
    margin: 0;
}

.text{
    font-family: 'Give You Glory', cursive;
}

/*Links de navegación*/

.social-links-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

/*Links de cntacto*/


.social-links-list {
   display: flex;
   margin: 10px 0px;
   text-align: center;
   transition: 0.3s;
}

/*Iconos-links de contacto*/

#social-icon {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 2.7rem;
    display: block;
    text-align: center;
    transition: 0.3s;
}

.nav-social-link{
    border-radius: 50px;
    border: 3px solid #ffff;
    padding: 3px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav-social-link:focus ,
.nav-social-link:hover {
    background-color: #f87440;
}

